
/*body{
    background-color: aqua;
}
#id1{
    color:red;
    background-color: whitesmoke;
}
.container{
    background-color: aliceblue;
} */

h1,p,body{
    color:aquamarine;
    background-color: Black;
}