
/*body{
    background-color: aqua;
}
#id1{
    color:red;
    background-color: whitesmoke;
}
.container{
    background-color: aliceblue;
} */

/* h1,p,body{
    color:aquamarine;
    background-color: Black;
} */

/* child selector */

/* div > p{
    color:violet;
}

div p{
    color:purple;
} */


body{
    background-color: black;
}


 p{
   
    color:purple;
   
 }
 p{
    color:bisque;

 }
 p{
    color:red;
 }
 